.traceability {
    margin-top: 12px;
    height: 100%;
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        .number-mark {
            width: 22px;
            margin-right: 8px;
            img {
                width: 100%;
                height: auto;
            }
        }
        span {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.375rem;

            letter-spacing: 0.03em;

            color: #01444f;
        }
    }
    .header-traceability {
        padding: 30px 45px;
        border-radius: 7px;
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 12px;
        .inputContainer{
            margin-bottom: 0;
        }
    }
    .content {
        border-radius: 7px;
        background-color: #ffffff;
        width: 100%;
        padding: 30px 45px;
        flex-grow: 1;
        .image-add {
            padding: 0 15px;
        }
    }
}
