$xs_width: 576px;
$md_width: 768px;
$lg_width: 992px;
$xl_width: 1440px;

$navbar-bg: #01444F;
$title-color: #505050;
$bg-color: #0C9DF6;
$border-color1: #2BCBD3;
$border-color2: #1998CE;
$button: #007487;
$export-button: #07A636;
$add-button: #FB7A01;   
$green: #088F30;
$navbar-green: #05AC37;
$login-bacground: #F8FBFF;
$main-color: #12929A;
